@import 'variables';
@import 'components/annotationsTabPlugin';

.request-labels-list {
    min-height: 34px;
    height: auto;

    > span:not(:first-child):before {
        content: ', ';
    }
}

.request-labels-well {
    // Set absolute height so the flex positioning and scroll of the label trees
    // component works (fixed search field and scrollable label trees list).
    height: 300px;
}

.suggested-label {
    position: relative;
    padding-left: 2.25em;
}

.suggested-label__color {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 1em;
    height: 1em;
    border: 2px solid white;
    border-radius: 50%;
}

.sidebar .sidebar__tab.sidebar-tab--flex {
    &.sidebar__tab--open {
        display: flex;
        flex-flow: column;
    }

    .sidebar-tab__content {
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .navbar-text--ananas {
        display: none;
    }

    .sidebar-container--ananas {
        display: block;

        .sidebar-container__canvas {
            height: 300px;

            .ol-control {
                display: none;
            }
        }

        .sidebar__tab.sidebar__tab--open {
            width: auto;
        }
    }
}
